<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <h1 style="font-size: 2em; color: white; text-align: center">在线考试</h1>
                </div>
                <div class="logo-element">
                    Food
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tv"></i>
                    <span class="nav-label">题库管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/Food/FoodList" data-index="1">
                            科目列表
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/Food/FoodList" data-index="1">
                            题库列表
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-tv"></i>
                    <span class="nav-label">考试管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/Order/OrderList" data-index="2">
                            试卷规则
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/Order/OrderDetail" data-index="3">
                            试卷管理
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tv"></i>
                    <span class="nav-label">用户管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/Order/OrderList" data-index="2">
                            用户列表
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <a id="btnChangeMenu"><span class="fa fa-reorder"></span></a>
    </div>
</nav>
